--- 
title: Services 
permalink: /services/ 
--- 
{% include head.html %} 
{% include side_bar_page.html %}

<div id="blog-entries">
    {% for service in site.data.services %}
    <!-- Post -->
    <article class="post container">

        <div class="row">

            <div class="col-md-12 entry-header cf">

                <h1><a href="{{ service.href }}" title="">{{ service.name }}</a></h1>

                <div class="post-meta">
                    <p class="categories">
                        {% for tag in service.tags %}
                        <a>{{ tag.tec }}</a>
                        {% endfor %}
                    </p>

                </div>

            </div>

            <div class="col-md-12  post-image">
                <img class="img-responsive" src="{{ site.url }}/{{ service.cover }}" alt="{{ service.name }}" title="post-image">
            </div>

            <div class="ccol-md-12 post-content col-sm-offset-2">

                <p>{{ service.description }} </p>

                <p><a href="{{ site.baseurl }}{{ service.href }}" class="a-button button-medium">Ver Servicio<i class="icon-angle-right"></i></a></p>

            </div>

        </div>

    </article>
    <!-- Post End -->
    {% endfor %}
</div>

{% include footer.html %}