<section id="contact">

      <div class="container">
            <div class="page-title text-center">
                  <h1>Contactanos</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        <br>incididunt ut labore et dolore magna aliqua. </p>
                  <hr class="pg-titl-bdr-btm"></hr>
            </div>


            <div class="row">

                  <div class="col-lg-7">

                        <!-- form -->
                        <form name="contactForm" id="contactForm" action="https://formspree.io/{{ site.email | escape }}" method="POST" accept-charset="UTF-8">
                              <fieldset>

                                    <div>
                                          <label for="contactName">Nombre <span class="required">*</span></label>
                                          <input name="contactName" type="text" id="contactName" size="35" value="" />
                                    </div>

                                    <div>
                                          <label for="contactEmail">Email <span class="required">*</span></label>
                                          <input name="contactEmail" type="text" id="contactEmail" size="35" value="" />
                                    </div>
                                   <div>
                                          <label for="contactSubject">Teléfono</label>
                                          <input name="contactPhone" type="tel" id="contactPhone" size="35" value="" />
                                    </div>

                                    <div>
                                          <label for="contactSubject">Asunto</label>
                                          <input name="contactSubject" type="text" id="contactSubject" size="35" value="" />
                                    </div>

                                    <div>
                                          <label for="contactMessage">Mensaje <span class="required">*</span></label>
                                          <textarea name="contactMessage" id="contactMessage" rows="10" cols="50"></textarea>
                                    </div>

                                    <div>
                                          <button class="submit">Submit</button>
                                    </div>

                              </fieldset>
                        </form>
                        <!-- Form End -->

                        <!-- contact-warning -->
                        <div id="message-warning"></div>
                        <!-- contact-success -->
                        <div id="message-success">
                              <i class="icon-ok"></i>Your message was sent, thank you!<br />
                        </div>

                  </div>


                  <aside class="col-lg-5">

                        <h3>Contact Information</h3>

                        <p>Nascetur augue hac platea enim, egestas pulvinar vutulvinar cum, ac eu.</p>

                        <p>
                              Kreative Design Studio <br /> Anystreet Avenue 012 <br /> State, Anytown
                        </p>

                        <p>
                              Phone: 0 123 456 789 0 <br /> Email: info [@] kreativedesign.com
                        </p><br />

                        <h3>Template Info</h3>

                        <p>Kreative is a free website template by <a href="http://www.styleshout.com/">styleshout.com</a>. This
                              work is released and licensed under the <a href="http://creativecommons.org/licenses/by/3.0/"
                                    rel="license">
		      Creative Commons Attribution 3.0 License</a>, which means that you are free to use and modify it for any personal
                              or commercial purpose. All I ask is that you give me credit by including a credit link to
                              <a href="http://www.styleshout.com/">my website</a>.
                        </p>

                  </aside>

            </div>
      </div>

</section>
<!-- Contact Section End-->