<section id="customers" class="section-padding">
	<div class="page-title text-center">
		<h1>Nuestros clientes</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			<br>incididunt ut labore et dolore magna aliqua. </p>
		<hr class="pg-titl-bdr-btm"></hr>
	</div>
	<div class="jcarousel-wrapper">
		<div class="jcarousel">
			<ul>

				{% for customer in site.data.customers %}
				
				<li><img class="grey-hover" src="{{customer.logo}}"></li>

				{%endfor%}
			</ul>
		</div>
	</div>
</section>