<div class="banner_logo">
			<img src="http://via.placeholder.com/300x130">
</div>
    <a id="menu-toggle" href="#" class="btn btn-purple btn-lg toggle"><i class="fa fa-bars"></i></a>
	<div id="sidebar-wrapper" >
		<ul class="sidebar-nav">
			<a id="menu-close" href="#" class="btn btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
			<li class="sidebar-brand">
				<li><a  class="nav-title padding-top" href="{{ site.url }}/">Inicio</a></li>
				<li><a  class="nav-title" href="{{ site.url }}/services/">Servicios</a></li>
				<li><a  class="nav-title" href="{{ stie.url }}/about/">Acerca de</a></li>
				<li><a  class="nav-title" href="{{ site.contact }}/contact/">Contacto</a></li>
		</ul>
	</div>
