	<div class="page-title text-center container">
		<h1>Cuales son los pasos</h1>
		<p class="wow zoomIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
			<br />incididunt ut labore et dolore magna aliqua.
		</p>
		<hr class="pg-titl-bdr-btm"></hr>
	</div>
	<div class="cta-1">
		<div class="row">
			<div class="col-md-3">
				<div class="service-box">
					<div class="service-icon"><i class="fa fa-picture-o"></i></div>
					<div class="service-text">
						<h3>Diseño gráfico</h3>
						<hr class="pg-titl-bdr-btm"></hr>
						<p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="service-box">
					<div class="service-icon"><i class="fa fa fa-code"></i></div>
					<div class="service-text">
						<h3>Desarrollo de páginas web</h3>
						<hr class="pg-titl-bdr-btm"></hr>
						<p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="service-box">
					<div class="service-icon"><i class="fa fa-android"></i></div>
					<div class="service-text">
						<h3>Desarrollo de Apps móviles</h3>
						<hr class="pg-titl-bdr-btm"></hr>
						<p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="service-box">
					<div class="service-icon"><i class="fa fa-laptop"></i></div>
					<div class="service-text">
						<h3>Marketing digital</h3>
						<hr class="pg-titl-bdr-btm"></hr>
						<p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
					</div>
				</div>
			</div>
		</div>
	</div>